@using Fulbaso.Contract
@using Fulbaso.Web

@model IEnumerable<Place>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var query = !string.IsNullOrEmpty(Request.QueryString["q"]) && Request.QueryString["q"] != "*" ? ("para \"" + Request.QueryString["q"] + "\"") : "";
    
    var players = (Request.QueryString["j"] ?? "").Split(';').Where(s => !string.IsNullOrEmpty(s));
    var locations = (Request.QueryString["l"] ?? "").Split(';').Where(s => !string.IsNullOrEmpty(s));
    var floors = (Request.QueryString["s"] ?? "").Split(';').Where(s => !string.IsNullOrEmpty(s)).Select(i => Convert.ToInt32(i));
    var tags = (Request.QueryString["t"] ?? "").Split(';').Where(s => !string.IsNullOrEmpty(s)).Select(i => Convert.ToByte(i));
    var ind = Convert.ToBoolean(Request.QueryString["ind"] ?? "False");
    var lig = Convert.ToBoolean(Request.QueryString["lig"] ?? "False");
    var advanced = false;
    
    if (players.Count() > 0 || locations.Count() > 0 || floors.Count() > 0 || tags.Count() > 0 || Request.QueryString["ind"] != null || Request.QueryString["lig"] != null)
    {
        advanced = true;
        
        if (players.Count() > 0)
        {
            query += "para " + InterfaceUtil.GetJoin(players) + " jugadores, ";
        }

        if (locations.Count() > 0)
        {
            query += "en " + InterfaceUtil.GetJoin(locations) + ", ";
        }

        if (floors.Count() > 0)
        {
            query += "con " + CoreUtil.GetFloors(floors) + ", ";
        }

        if (tags.Count() > 0)
        {
            query += "con " + CoreUtil.GetTags(tags) + ", ";
        }

        if (ind)
        {
            query += "techada, ";
        }

        if (ind)
        {
            query += "con luz, ";
        }

        query = query.Length > 0 ? (query.Substring(0, query.Length - 2) + ".") : "";
    }
}

<div class="container">
    <div class="row">
        <div class="span8">
            <div style="padding: 0.2em 0px;">
                <p><span class="@(ViewBag.Places > 0 ? "badge badge-success" : "badge badge-error")">@ViewBag.Places</span> complejos encontrados @query</p>
                @if (advanced)
                {
                    <p>Haga click @Html.ActionLink("aquí", "Advanced", "Search") para realizar una nueva búsqueda.</p>
                }
            </div>
            <div id="places">
                @Html.Partial("List", Model)
            </div>
            <a id="loadmore" class="btn btn-primary" style="margin-left: 20px; width: 16em;">Mostrar más</a>
        </div>
        <div class="span4">
            <div class="hidden-phone">
                <div id="map_canvas" style="min-height: 350px; display:none; margin-bottom: 20px;"></div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        var last;
        var html;

        function loadMore() {
            var init = $(".place-info").length;

            if (init != last) {
                if (html != null) {
                    last = init;
                }

                $("#loadmore").hide();
                $(html)
                    .hide()
                    .appendTo("#places")
                    .fadeIn();
                $.get("@Html.Raw(Url.Action("List", "Home", new { q = Request.QueryString["q"], j = Request.QueryString["j"], l = Request.QueryString["l"], s = Request.QueryString["s"], t = Request.QueryString["t"], ind = Request.QueryString["ind"], lig = Request.QueryString["lig"], }))&init=" + init, function (data) { 
                    html = data;
                    $("#loadmore").show();

                    if ($(".place-info").length == @ViewBag.Places) {
                        $("#loadmore").hide();
                    }
                });
            }
            else {
                $("#loadmore").hide();
            }
        }

        $("#loadmore").click(function () {
            loadMore();
        });

        $(window).scroll(function () {
            if (document.documentElement.clientHeight + $(document).scrollTop() >= document.body.offsetHeight - 100) {
                loadMore();
            }
        });
        
        loadMore();
    });
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
