@using Fulbaso.Contract
@using Fulbaso.Web
@using Fulbaso.Web.Models
@using System.Globalization

@model CourtConfiguration

@{
    ViewBag.FormTitle = ViewBag.Place;
}

@section Header
{
    <div class="page-header">
        <h1>
            @ViewBag.Place
            <small>@(Model == null ? ViewBag.CourtName : Model.Court.Description) (Configuración)</small>
        </h1>
    </div>
}

@Html.Partial("Menu", (string)ViewBag.PlacePage)

@using (Html.BeginForm(Model == null ? "Add" : "Edit", "Configuration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("placepage", (object)ViewBag.PlacePage)
    @Html.Hidden("placeid", (object)ViewBag.PlaceId)
    @Html.Hidden("courtid", (object)ViewBag.CourtId)
    <fieldset>
        <legend>General</legend>
        <div class="control-group" style="padding-top: 16px;">
            <label class="control-label" for="Price">Precio (por hora)</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">$</span>@Html.EditorFor(m => m.Price)
                </div>
            </div>
        </div>
        <legend>Horario</legend>
        <div class="control-group" style="padding-top: 16px;">
            <label class="control-label" for="StartHour">Desde las</label>
            <div class="controls">
                <div class="input-append">
                    @Html.TextBoxFor(m => m.StartHour)<span class="add-on">hs</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="EndHour">Hasta las</label>
            <div class="controls">
                <div class="input-append">
                    @Html.TextBoxFor(m => m.EndHour)<span class="add-on">hs</span>
                </div>
            </div>
        </div>
        <legend>Fecha</legend>
        <div class="control-group" style="padding-top: 16px;">
            <label class="control-label" for="StartDate">Desde el día</label>
            <div class="controls">
                @Html.EditorFor(m => m.StartDate)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="EndDate">Hasta el día</label>
            <div class="controls">
                @Html.EditorFor(m => m.EndDate)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="days-info">Los días</label>
            <div class="controls">
                <div id="days-info" class="btn-group">
                    @foreach (var d in Enum.GetValues(typeof(DayOfWeek)))
                    {
                        string dayclass;
                        if (Model != null && Model.Days.Contains((DayOfWeek)d))
                        {
                            dayclass = "btn active";
                            <input type="checkbox" id="@d" name="@d" checked="checked" style="display:none;" />
                        }
                        else
                        {
                            dayclass = "btn";
                            <input type="checkbox" id="@d" name="@d" style="display:none;" />
                        }
                
                        <a data-checkname="@d" class="@dayclass">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(CultureInfo.CurrentCulture.DateTimeFormat.DayNames[(int)d])</a>
                    }
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Aceptar</button>
            @Html.ActionLink("Volver", "Index", "Configuration", new { place = ViewBag.PlacePage, court = ViewBag.CourtId }, new { @class = "btn", })
        </div>
    </fieldset>
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui-datepicker-es.js")" type="text/javascript"></script>
    <script>
        $.datepicker.setDefaults($.datepicker.regional["es"]);

        $(function () {
            $("#StartDate, #EndDate").datepicker();
            $("#days-info a").click(function () {
                if ($(this).hasClass("active")) {
                    $("#" + $(this).data("checkname")).removeAttr("checked");
                    $(this).removeClass("active");
                }
                else {
                    $("#" + $(this).data("checkname")).attr("checked", "checked");
                    $(this).addClass("active");
                }
            });
        });
    </script>
}