@using Fulbaso.UI

@if (Request.IsAuthenticated)
{
    <script>
        $(function () {
            $("#logout").click(function () {
                FB.logout();
            });
        });
    </script>
    
    <ul class="nav pull-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-cog"></i>&nbsp;Configuración</a></li>
                <li><a href="#"><i class="icon-user"></i>&nbsp;Perfil</a></li>
                <li><a href="#"><i class="icon-star"></i>&nbsp;Favoritos</a></li>
                <li class="divider"></li>
                <li><a id="logout" href="@Url.Action("LogOut", "Home")"><i class="icon-off"></i>&nbsp;Cerrar sesión</a></li>
            </ul>
        </li>
    </ul> 
}
else
{
    <script>
        window.fbAsyncInit = function () {
            var logged = false;

            FB.init({ appId: '@Configuration.AppId', channelUrl: '//' + window.location.hostname + '/channel', status: true, cookie: true, xfbml: true, });

            FB.Event.subscribe('auth.statusChange', function (response) {
                if (response.authResponse) {
                    FB.api('/me', function (me) {
                        if (logged) {
                            $("#token").val(response.authResponse.accessToken);
                            $("#loginform").submit();
                        }
                        else {
                            $.post("@Url.Action("Login", "Home")", { token: response.authResponse.accessToken });
                        }
                    })
                }
            });

            // respond to clicks on the login and logout links
            $("#facebooklogin").click(function () {
                logged = true;
                FB.login();
            });
        } 
    </script>
    
    using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id="loginform", @class = "nav navbar-form pull-right", }))
    {
        @Html.Hidden("token")
    
        <a id="facebooklogin" class="btn">Iniciar sesión</a>
    }
}