@using Fulbaso.Contract
@using Fulbaso.UI

@model Place
           
@{
    var address = CoreUtil.GetAddress(Model.Address, Model.Location);
    var text = new[] { 
        new { Class = "ui-info address", Text = address, },
        new { Class = "ui-info phone", Text = Model.Phone, },
        new { Class = "ui-info courts", Text = Model.Courts.ToString() + " cancha" + (Model.Courts > 1 ? "s" : ""), }, 
    };    
}
            
<a class="place-info" href="@Url.Action("ItemView", "Place", new { place = Model.Page })">
    <div>
        <h3>@Html.Raw(InterfaceUtil.GetRemarked(Model.Description, Request.QueryString["q"], "ui-remark ui-corner-all"))</h3>
        <ul style="margin:0;padding:0;" data-id="@Model.Id">
        @foreach (var t in text.Where(c => !string.IsNullOrEmpty(c.Text)))
        {
            <li class="@t.Class">@Html.Raw(InterfaceUtil.GetRemarked(t.Text, Request.QueryString["q"], "ui-remark ui-corner-all"))</li>
        }
        @if (Model.Services != null && Model.Services.Count() > 0)
        {
            <li class="ui-info tags">
            @foreach (var s in Model.Services)
            {
                <span class="label label-info">@s.GetDescription()</span>
            }
            </li>
        }
        </ul>
    </div>
</a>
