@using Fulbaso.Contract
@using Fulbaso.Web
@using Fulbaso.Web.Models

@model Place

@{
    ViewBag.FormTitle = "Agregar cancha";
}
@section Header
{
    <div class="page-header">
        <h2>
            Agregar complejo
        </h2>
    </div>
}

<p>Si tenés o conoces un complejo que no está en nuestra base de datos, te damos la posibilidad de sumarlo a nuestro sitio.</p>
<p>Te pedimos que ingreses a continuación los datos correspondientes al complejo. Los campos con marcados con (*) son obligatorios.</p>

@using (Html.BeginForm("Add", "Place", FormMethod.Post, new { @class = "form-horizontal", }))
{
    @Html.HiddenFor(m => m.MapUa)
    @Html.HiddenFor(m => m.MapVa)
    @Html.Hidden("LocationJson")
    <div id="description-group" class="control-group" style="padding-top: 16px;">
        <label class="control-label" for="Description">Ingresá el nombre del complejo (*)</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Description, new { @class = "input-xxlarge", maxlength = "200", })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Info">Escribí una breve descripción</label>
        <div class="controls">
            @Html.TextAreaFor(m => m.Info, new { @class = "input-xxlarge", })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Phone">Indicanos algún teléfono</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Phone, new { @class = "input-large", maxlength = "200", })
        </div>
    </div>
    <div id="location-group" class="control-group">
        <label class="control-label" for="MapLocation">Buscá la ubicación en el mapa (*) <a href="#" style="font-weight: normal;" id="locationhelp" rel="tooltip" data-placement="right" data-original-title="Ingresá la dirección del complejo y presioná el botón buscar. Si la ubicación que muestra no es la correcta podés arrastrar el ícono hasta la dirección del complejo.">[?]</a></label>
        <div class="controls">
            <div class="input-append" style="margin-bottom: 10px;">
                @Html.TextBoxFor(m => m.Address, new { @class = "input-xxlarge", size = "16", maxlength = "200", })
                <a id="testlocation" class="btn">Buscar</a>
                <span class="help-inline">test</span>
            </div>
            <div class="clearAll suggestion" style="display:none; margin-bottom: 10px;">
                <a id="suggestion" style="cursor: pointer;"></a>
            </div>
            <div id="map_canvas" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="HowToArrive">Indicanos cómo llegar (colectivos, trenes, etc.)</label>
        <div class="controls">
            @Html.TextAreaFor(m => m.HowToArrive, new { @class = "input-xxlarge", })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="optionsCheckboxList">Marcá los servicios que ofrece</label>
        <div class="controls">
            @foreach (var s in Enum.GetValues(typeof(Service)).Cast<Service>())
            {
                <label class="checkbox">
                    @if (Model != null && Model.Services.Contains(s))
                    {
                        <input type="checkbox" id="@s" name="@s" checked="checked" />
                    }
                    else
                    {
                        <input type="checkbox" id="@s" name="@s" />
                    }
                    @s.GetDescription()
                </label>
            }
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">¡Agregar complejo!</button>
    </div>
}

@section Scripts
{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script>
        $(function () {
            $("#locationhelp").tooltip();
            f.map.initialize("map_canvas");

            function localize(result) {
                $('#MapUa').val(map.marker.getPosition().lat().toString().replace(".", ","));
                $('#MapVa').val(map.marker.getPosition().lng().toString().replace(".", ","));

                if (result) {
                    $(".suggestion").slideDown();
                    $("#suggestion").html(result.formatted_address);
                }
                else {
                    $(".suggestion").slideUp();
                    map.geocoder.geocode({ latLng: map.marker.getPosition() }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            $("#Address").val(results[0].formatted_address);
                            $("#LocationJson").val(JSON.stringify(results[0].address_components));
                        }
                    });
                }
            }

            $("#testlocation").click(function () {
                $("#location-group").removeClass("error");
                f.geocode.find($("#Address").val(), $("#Description").val(), $("#LocationJson"), localize);
            });

            $("#suggestion").click(function () {
                $(".suggestion").slideUp();
                $("#Address").val($("#suggestion").html());
            });

            $(".form-actions button").click(function () {
                var valid = true;
                $(".error").removeClass("error");

                if ($.trim($("#Description").val()) == "") {
                    $("#description-group").addClass("error");
                    valid = valid & false;
                }

                if ($.trim($("#LocationJson").val()) == "") {
                    $("#location-group").addClass("error");
                    valid = valid & false;
                }

                if (!valid) {
                    window.scrollTo(0, 0);
                    return false;
                }
            });
        });
    </script>
}