@using Fulbaso.Common
@using Fulbaso.Contract
@using File = Fulbaso.Contract.File
@using Fulbaso.Web

@model Place

@{
    var imagesCount = Model.Images.Count();
}

@helper AddThumbnail(File file)
{
    <li class="span4">
        <div class="thumbnail">
            <a href="@file.ToUrl()" title="@file.Description"><img src="@file.ToUrl(300)" alt="@file.Description" /></a>
            @if (!string.IsNullOrEmpty(file.Description))
            {
                <p>@file.Description</p>
            }
        </div>
    </li>
}

<div class="row">
    <div class="span8">
        <fieldset>
            @if (Model.Info != null)
            {
                <div class="ui-info info">@Model.Info</div>
            }
            @if (Model.Address != null)
            {
                <div class="ui-info address">@Model.FullAddress</div>
            }
            @if (Model.Phone != null)
            {
                <div class="ui-info phone">@Model.Phone</div>
            }
            @if (Model.HowToArrive != null)
            {
                <div class="ui-info howToArrive">@Html.Raw(HttpUtility.HtmlEncode(Model.HowToArrive).Replace(Environment.NewLine, "<br>"))</div>
            }
            @if (Model.Services != null && Model.Services.Count() > 0)
            {
                <div class="ui-info tags">
                    @foreach (var s in Model.Services)
                    {
                        <a title="Canchas con @s.GetDescription().ToLower()" href="@Url.Action("Index", "Home", new { t = (byte)s })" class="label label-info">@s.GetDescription()</a>
                    }
                </div>
            }
        </fieldset>
        @if (Model.Images != null && Model.Images.Any())
        {
            <div class="row-fluid hidden-phone" style="margin-top: 10px;">
                @if (imagesCount <= 3)
                {
                    <ul class="thumbnails">
                        @foreach (var f in Model.Images.OrderByDescending(p => p.InsertDate))
                        {
                            @AddThumbnail(f);
                        }
                    </ul>
                }
                else
                {
                    <div class="carousel slide span12" id="placeimages" style="margin-bottom: 0;">
                        <div class="carousel-inner">
                            @for (int i = 0; i < imagesCount; i++)
                            {
                                var f = Model.Images.OrderByDescending(p => p.InsertDate).ToList()[i];
                                if (i % 3 == 0)
                                {
                                    @Html.Raw("<div class=\"item" + (i == 0 ? " active" : "") + "\"><ul class=\"thumbnails\">")
                                }
                                
                                @AddThumbnail(f);
                                
                                if ((i + 1) % 3 == 0 || i + 1 == imagesCount)
                                {
                                    @Html.Raw("</ul></div>")
                                }
                            }
                        </div>
                        <a data-slide="prev" href="#placeimages" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#placeimages" class="right carousel-control">›</a>
                    </div>
                }
            </div>
        }
        @foreach (var c in Model.CourtsInfo.GroupBy(c => c.CourtType.Description).ToList())
        {
            var title = c.Key + " - " + c.Count() + " cancha" + (c.Count() > 1 ? "s" : "");
            var typeList = new List<string>();

            if (c.ToList().GroupBy(i => i.FloorType.Description).Count() == 1)
            {
                typeList.Add(c.ToList().First().FloorType.ToString());
            }

            if (c.ToList().GroupBy(i => i.IsIndoor).Count() == 1 && c.ToList().First().IsIndoor)
            {
                typeList.Add("Techada" + (c.Count() > 1 ? "s" : ""));
            }

            if (c.ToList().GroupBy(i => i.IsLighted).Count() == 1 && c.ToList().First().IsLighted)
            {
                typeList.Add("Con luz");
            }

            var info = c.ToList().GroupBy(g => new { FloorType = g.FloorType.Description, IsLighted = g.IsLighted, IsIndoor = g.IsIndoor, g.Players });
            bool showCourts = true;

            if (info.Count() == 1 && info.First().First().Players != null)
            {
                typeList.Add(info.First().First().Players + " jugadores");
                showCourts = false;
            }
            <h3 style="margin: 10px 0 5px;">
                @title
            </h3>
            if (typeList.Any())
            {
                <div class="alert alert-info" style="padding: 4px 0;margin:0;">
                    <dl style="padding: 4px; margin:0;">
                    @foreach (var i in typeList)
                    {
                        <dd>@i</dd>
                    }
                    </dl>
                </div>            
            }
            <dl>
                @if (showCourts)
                {
                    foreach (var i in info.OrderByDescending(i => i.Count()))
                    {
                        var list = new List<string>();
                        var courtsInfo = i.Count() + " cancha" + (i.Count() > 1 ? "s" : "");

                        if (!typeList.Contains(i.Key.FloorType.ToString()))
                        {
                            list.Add(i.Key.FloorType.ToString());
                        }
                        if (!typeList.Contains("Con luz") && i.Key.IsLighted)
                        {
                            list.Add("Con luz");
                        }
                        if (!typeList.Contains("Techada") && !typeList.Contains("Techadas") && i.Key.IsIndoor)
                        {
                            list.Add("Techada" + (i.Count() > 1 ? "s" : ""));
                        }
                        if (i.Key.Players != null)
                        {
                            list.Add(i.Key.Players + " jugadores");
                        }

                        <dt>@courtsInfo</dt>
                        foreach (var l in list)
                        {
                            <dd>@l</dd>
                        }
                    }
                }
            </dl>
        }
        <div class="fb-like" data-href="@Request.Url.AbsoluteUri" data-send="false" style="margin-top: 10px;" data-show-faces="false"></div>
        <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-num-posts="5" style="margin-top: 10px;"></div>
    </div>
    <div class="span4 hidden-phone">
        <div id="map_canvas" style="min-height: 350px;"></div>
    </div>
</div>