@using Fulbaso.Contract

@{
    Layout = null;
}

@model IEnumerable<Tuple<Place, double?>>

@if (Model != null && Model.Any())
{
    var first = true;
    <h4 id="nearheader" style="margin-top: 10px; display:block;">Complejos cercanos (distancia desde @ViewBag.Description)</h4>
    <div id="placerefs">
        @foreach (var p in Model)
        {
            if (!first)
            {
                <span>, </span>
            }
            else
            {
                first = false;
            }
            <a class="mapitem" data-ua="@p.Item1.MapUa.ToString().Replace(',', '.')" data-va="@p.Item1.MapVa.ToString().Replace(',', '.')" data-id="@p.Item1.Id" href="@Url.Action("ItemView", new { place = p.Item1.Page })">@p.Item1.Description @(p.Item2.HasValue ? "(" + p.Item2.Value.ToString("F1") + " km)" : "")</a>
        }
    </div>
}