@using Fulbaso.Contract
@using Fulbaso.UI

@model Place
@{
    ViewBag.FormTitle = Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var keywords = Model.Description + ", " + Model.Location + ", " + Model.Location.Region + ", " + string.Join(", ", Model.CourtsInfo.GroupBy(c => c.CourtType.Description).Select(c => c.Key));
    var day = (DateTime)ViewBag.Time;
    var range = CoreUtil.GetRange(Model.CourtsInfo, day);
}

@section Header
{
    <div class="page-header">
        <h1>
            @ViewBag.FormTitle
            @if (Request.IsAuthenticated)
            {
                <a id="favourite" class="@((bool)ViewBag.IsFavourite ? "btn btn-mini active" : "btn btn-mini")" title="Agregar a favoritos"><i class="icon-star"></i></a>
            }
        </h1>
    </div>
}

@section StyleSheets
{
    <style>
        td, th { padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-top: 1px solid #DDD; border-left: 1px solid #DDD; white-space: nowrap; }
        tbody tr:hover { background-color: #f5f5f5; }
        td:hover { background-color: #ededed; }
        table { width: 100%; }
        .reserved:hover { background-color: #fdfdde; }
        .selected:hover { background-color: #fdefdf; }
        .paid:hover { background-color: #dcead8; }
        .reserved { background-color: #fcfcca; }
        .selected { background-color: #fddecf; }
        .paid { background-color: #eaffea; }        
    </style>
}

@helper DisplayBook(CourtBook book)
{
    var type = !(book.ReserveRequired && (book.Reserve == null || book.Reserve == 0)) || !book.ReserveRequired || (book.Paid != 0 && book.Paid.HasValue) ? "selected" : "reserved";
    <td class="@type" rowspan="@((book.EndTime - book.StartTime).TotalMinutes / 30)">
        <span class="muted">@(type == "reserved" ? "Reservada" : "Ocupada")</span>
    </td>
}

<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Información", "ItemView", new { place = Model.Page })</li>
                <li class="active"><a href="#">Disponibilidad</a></li>
            </ul>

            @using (Html.BeginForm("Schedule", "Place", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                @Html.TextBox("current", day.ToShortDateString(), new { style = "width:120px;", })
                <button type="submit" class="btn">Buscar</button>
                <div class="pull-right">
                    <a href="@Url.Action("Schedule", new { place = Model.Page, current = day.AddDays(-1).ToShortDateString() })" class="btn"><i class="icon-arrow-left"></i></a>
                    <a href="@Url.Action("Schedule", new { place = Model.Page, current = day.AddDays(1).ToShortDateString() })" class="btn"><i class="icon-arrow-right"></i></a>
                </div>
            }

            <table class="table-bordered table-condensed">
	            <thead>
		            <tr>
                        <th style="width: 1px;"></th>
                        @foreach (var c in Model.CourtsInfo)
                        {
                            <th>@c.Players jugadores<br />
                            @c.FloorType<br />
                            @(c.IsIndoor ? Html.Raw("Techada<br />") : new HtmlString(""))</th>
                        }
		            </tr>
	            </thead>
                <tbody>
                @foreach (var h in range)
                {
                    <tr>
                        <td>@h : 00</td>
                        @foreach (var c in Model.CourtsInfo)
                        {
                            var time = new DateTime(day.Year, day.Month, day.Day, h, 0, 0);

                            var book = c.Books.FirstOrDefault(b => b.StartTime == time);
                            if (book != null)
                            {
                                @DisplayBook(book);
                            }
                            else if (!c.Books.Any(b => b.StartTime <= time && b.EndTime > time))
                            {
                                var price = CoreUtil.GetPrice(c.Configuration, time);
                    
                                <td class="editable"><span class="muted">@(price == 0 ? "" : ("$ " + price.ToString("F2")))</span></td>
                            }
                        }
                    </tr>
                    <tr>
                        <td>@h : 30</td>
                        @foreach (var c in Model.CourtsInfo)
                        {
                            var time = new DateTime(day.Year, day.Month, day.Day, h, 30, 0);

                            var book = c.Books.FirstOrDefault(b => b.StartTime == time);
                            if (book != null)
                            {
                                @DisplayBook(book);
                            }
                            else if (!c.Books.Any(b => b.StartTime <= time && b.EndTime > time))
                            {
                                var price = CoreUtil.GetPrice(c.Configuration, time);
                    
                                <td class="editable"><span class="muted">@(price == 0 ? "" : "\"")</span></td>
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#favourite").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $.ajax({
                    url: '@Url.Action("DeleteFavourite", "Place")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: @Model.Id },
                });                
            }
            else {
                $(this).addClass("active");
                $.ajax({
                    url: '@Url.Action("AddFavourite", "Place")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: @Model.Id },
                });     
            }
        });
    });
</script>
<script src="@Url.Content("~/Scripts/jquery-ui-datepicker-es.js")" type="text/javascript"></script>
<script>
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $(function () {
        $("#current").datepicker();
    });
</script>