@using Fulbaso.Common
@using Fulbaso.Contract

@model Place

@section Header
{
    <div class="page-header">
        <h2>
            @Model.Description
            @if (Model != null)
            {
                <small>Imágenes</small>
            }
        </h2>
    </div>
}

@Html.Partial("Menu", (string)Model.Page)

<div class="btn-group" style="margin-bottom: 10px;">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Agregar imagen
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Desde URL", "FromURL", new { place = Model.Page })</li>
        <li>@Html.ActionLink("Desde archivo", "FromFile", new { place = Model.Page })</li>
    </ul>
</div>

@for (int i = 0; i < Model.Images.Count(); i++)
{
    var f = Model.Images.OrderByDescending(p => p.InsertDate).ToList()[i];
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row-fluid\"><ul class=\"thumbnails\">")
    }
    
    <li class="span3" style="margin-bottom: 10px;">
        <div class="thumbnail" data-id="@f.Id">
            @using (Html.BeginForm("DeleteImage", "Image", FormMethod.Post))
            {
                @Html.Hidden("id", f.Id)
                @Html.Hidden("page", Model.Page)
                <a href="@f.ToUrl()" title="@f.Description"><img src="@f.ToUrl(320)" alt="@f.Description" /></a>
                <div class="clearlAll"></div>
                <textarea class="span12" style="resize: vertical; margin-top: 10px;" placeholder="Ingresá una descripción">@f.Description</textarea>
                <p>
                    <a class="btn btn-save">Modificar</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </p>
            }
        </div>
    </li>
    
    if ((i + 1) % 4 == 0 || i + 1 == Model.Images.Count())
    {
        @Html.Raw("</ul></div>")
    }
}

@section StyleSheets
{
    <style>
        .thumbnail p { margin-top: 10px; }
    </style>
}

@section Scripts
{
    <script>
        $(function () {
            $(".thumbnail textarea").keyup(function () {
                $(this).parent().find(".btn-save").addClass("btn-success");
            });

            $(".thumbnail .btn-save").click(function () {
                var div = $(this).parent().parent().parent();
                var btn = $(this).parent().find(".btn-save");
                btn.addClass("disabled")

                console.log(div);
                console.log({ id: div.data("id"), text: div.find("textarea").val(), page: "@Model.Page" });

                $.post("@Url.Action("UpdateImage")", { id: div.data("id"), text: div.find("textarea").val(), page: "@Model.Page" }, function () {
                    btn.removeClass("btn-success").removeClass("disabled");
                });
            });
        })
    </script>
}