@using Fulbaso.Common
@using Fulbaso.Contract
@using Fulbaso.Web
@using Fulbaso.Web.Models

@model Court

@{
    ViewBag.FormTitle = ViewBag.Place;
    ViewBag.Title = Configuration.AppTitle + " - " + ViewBag.Place;
}

@section Header
{
    <div class="page-header">
        <h2>
            @ViewBag.Place
            <small>@(Model == null ? "Agregar nueva cancha" : Model.Description)</small>
        </h2>
    </div>
}

@Html.Partial("Menu", (string)ViewBag.PlacePage)

@using (Html.BeginForm(Model == null ? "Add" : "Edit", "Court", FormMethod.Post, new { @class = "form-horizontal", }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("placepage", (object)ViewBag.PlacePage)
    @Html.Hidden("placeid", (object)ViewBag.PlaceId)
    <div class="control-group" style="padding-top: 16px;">
        <label class="control-label" for="Description">Nombre <a href="#" style="font-weight: normal;" id="namehelp" rel="tooltip" data-placement="right" data-original-title="El nombre de la cancha no aparecerá para los usuarios del sitio, es únicamente para tú administración.">[?]</a></label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Description, new { @class = "input-xlarge", })
        </div>
    </div>
    <div class="control-group" style="display:none;">
        <label class="control-label" for="IsActive">¿Se encuentra actualmente en funcionamiento?</label>
        <div class="controls">
            @Html.CheckBox("IsActive", Model == null ? true : Model.IsActive)
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label" for="Players">Cantidad de jugadores por equipo</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Players, new { @class = "input-xlarge", })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="CourtType.Id">Deporte que se practica</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.CourtType.Id, new SelectList(ViewBag.CourtTypes, "Id", "Description"), "[Selecciona un deporte]", null)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="FloorType.Id">Tipo de suelo</label>
        <div class="controls">
            @Html.DropDownListFor(m => m.FloorType.Id, new SelectList(ViewBag.FloorTypes, "Id", "Description"), "[Selecciona un tipo de suelo]", null)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="IsIndoor">¿Es techada?</label>
        <div class="controls">
            @Html.CheckBoxFor(m => m.IsIndoor)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="IsLighted">¿Está iluminada?</label>
        <div class="controls">
            @Html.CheckBoxFor(m => m.IsLighted)
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Aceptar</button>
        @Html.ActionLink("Cancelar", "Index", new { place = ViewBag.PlacePage }, new { @class = "btn", })
    </div>
}

@section Scripts
{
    <script>
        $(function () {
            $("#namehelp").tooltip();
        });
    </script>
}