@using Fulbaso.Common
@using Fulbaso.Contract
@using Fulbaso.Web
@using Fulbaso.Web.Models

@model Place
@{
    ViewBag.FormTitle = Model.Description;
    bool firstTime = (DateTime.Now - Model.DateFrom).TotalMinutes < Configuration.TimeBeforeMenu;
}

@section Header
{
    <div class="page-header">
        @if (!firstTime || (Model != null && Model.CourtsInfo.Count() != 0))
        {
            <h2>
                @Model.Description
                <small>Canchas</small>
            </h2>
        }
        else
        {
            <h2>¡El complejo @Model.Description ha sido creado!</h2>
        }
    </div>
}

@if (!firstTime || (Model != null && Model.CourtsInfo.Count() != 0))
{
    @Html.Partial("Menu", Model.Page)
}

<div>
    @if (Model == null || Model.CourtsInfo.Count() == 0)
    {
        if (firstTime)
        {
            <p>De ahora en más, para que puedas acceder más rápido a este complejo, cada vez que ingreses con tu usuario, <b>@Model.Description</b> aparecerá en el menú.</p>
        }
        <p>Te vamos a pedir un poco mas de información acerca del complejo. </p>
        <p>Desde acá vas a poder agregar y modificar las canchas.</p>
        <p>Para dar mas detalle a los usuarios acerca de este complejo te vamos a pedir que nos cuentes cómo son las canchas del mismo, es decir, de cuántos jugadores son, que tipo de suelo tienen, etc.</p>
        if (firstTime)
        {
            <div class="alert alert-block">
                <p>El complejo será habilitado en la búsqueda de canchas en las próximas 24 horas.</p>
            </div>
        }
        <p>Para empezar, @Html.ActionLink("hacé click acá", "Add", new { place = Model.Page, ft = firstTime, }) para agregar la primer cancha.</p>
    }
    else
    {
        if (firstTime)
        {
            <p>Podés seguir agregando tantas canchas como existan en el complejo. También podés agregar imagenes accediendo a la opción desde el menú superior, o bien, @Html.ActionLink("haciendo click acá", "Index", "Image").</p>
        }
        else
        {
            <p>Desde acá vas a poder agregar y modificar las canchas del complejo.</p>
        }
    }
</div>

@if (Model != null && Model.CourtsInfo.Count() > 0)
{
    <div style="margin-bottom: 16px;">
        @Html.ActionLink("Agregar cancha", "Add", new { place = Model.Page }, new { @class = "btn" })
    </div>
    <div id="grid-contain">
        <table id="courts" class="table">
            <tbody>
                @for (int i = 0; i < Model.CourtsInfo.Count(); i++)
                {
                    string rowstyle = "";
                    var c = Model.CourtsInfo.ToList()[i];
                    if (!c.IsActive)
                    {
                        rowstyle = "opacity: 0.5;";
                    }
                    <tr style="@rowstyle">
                        <td style="width: 1px; white-space: nowrap;">
                            @("# " + (i + 1))
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(c.Description.Trim()))
                            {
                                @Html.ActionLink(c.Description, "Edit", "Court", new { court = c.Id, place = Model.Page }, new { style = "text-decoration: none;" })
                            }
                        </td>
                        <td>
                            @c.CourtType
                        </td>
                        <td>
                            @(c.Players.HasValue ? c.Players + " jugador" + (c.Players > 1 ? "es" : "") : null)
                            @if (c.Players.HasValue)
                            {
                                <span class="hidden-phone"> por equipo</span>
                            }
                        </td>
                        <td>
                            @c.FloorType
                        </td>
                        <td style="width: 1px;">
                            <div style="opacity: 1;">
                                @if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionImage("Index", "Configuration", new { court = c.Id, place = Model.Page }, null, "Configuración", Url.Content("~") + "img/cog.png", null)
                                }
                                @Html.ActionImage("Edit", new { court = c.Id, place = Model.Page }, "Editar", Url.Content("~") + "img/pencil.png")
                                <a data-toggle="modal" href="#dialog-confirm" name="delete" data-id="@c.Id">
                                    <img title="Eliminar" src="@Url.Content("~")img/delete.png" alt="Eliminar" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="modal" id="dialog-confirm" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>@Configuration.AppTitle</h3>
    </div>
    <div class="modal-body">
        <p>¿Estás seguro de que queres eliminar el item seleccionado?</p>
    </div>
    <div class="modal-footer">
        <a id="delete-item" data-dismiss="modal" class="btn btn-danger">Eliminar</a> 
        <a id="delete-cancel" data-dismiss="modal" class="btn">Cancelar</a>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            var row;

            $("#dialog-confirm").modal({
                show: false
            });
            $("#delete-item").click(function () {
                $.post('@Url.Action("Delete", "Court")', { id: row.data("id") });
                row.parent().parent().parent().remove();
                $("#courtscount").html($("#courts tbody tr").length);
                $("#dialog-confirm").hide();
            });
            $("#delete-cancel").click(function () {
                $("#dialog-confirm").hide();
            });

            $("a:[name=delete]").click(function () {
                row = $(this);
                $("#dialog-confirm").show();
            });
        });
    </script>
}

@section StyleSheets
{
    <style>
        #courts div { white-space: nowrap; }
        #courts img { border: 0px; }
        div#grid-contain table { width: 100%; }
    </style>
}
